.m-nu{
   
    display: inline-block;
    width: 90%;
    padding: 2.5%;
    margin: 10px 2.5%;
    background-color:rgb(47, 50, 84);
    border-color: black;
    color: antiquewhite;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    font-size: 2rem;
    width: auto;
}

.child{
    width: 40%;
}

#img1{
    width:80%;
}